/* CSS Document */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 20px verdana, arial, tahoma, sans-serif;
}
body, html{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#icons{
  width: 220px;
  height: auto;
  position: absolute;
  top: 30%;
  left: -150px;
}
#icons ul{
  list-style: none;
}
#icons ul li{
  display: block;
  background: #131313;
  padding: 10px;
  height: 50px;
  position: relative;
  transition: all 0.5s ease;
}
#icons ul li a{
  display: block;
  color: #fff;
  text-decoration: none;
}
#icons ul li:nth-child(1){
  background: #ff0000;
}
#icons ul li:nth-child(2){
  background: #1c1f1d;
}
#icons ul li:nth-child(3){
  background: #030379;
}
#icons ul li:nth-child(4){
  background: #11aeef;
}
#icons ul li:nth-child(5){
  background: #2626e7;
}
#icons ul li:nth-child(6){
  background: #ff00ff;
}
#icons ul li span{
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  right: 18px;
  padding: 10px;
}
#icons ul li:hover{
  cursor: pointer;
  background: #131313;
  opacity: 0.8;
  border-left: 10px solid rgb(172, 165, 165);
  transform: translateX(150px);
}